@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    height: 1000px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.totalTable th{
	width: 150px	
}
.filters {
	margin:15px;

	
}
.filters select{
	width:150px;
	height: 30px;
}
.filters button{
	width:50px;
	height:30px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

.student-info p {
    font-size: 16px;
    color: #555;
}

.course-info table {
    width: 100%;
    border-collapse: collapse;
}

.course-info th, .course-info td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.course-info th {
    background-color:#f2f2f2;
}


.course-info td {
    color: #333;
}
​