@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container {
    width: 900px;
    height: 650px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
	height:40;
	
    border: 1px solid #ddd;
}
table td:first-child{
	width:50px;
	text-align: center;
}
table th:last-child{
	width:200px;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
	text-align:center;
    background-color: #f2f2f2;
}
tr{
	heigth: 20px;
}
tr:hover {
    background-color: #f9f9f9;
}

a {
    color:   #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}