@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 900px;
    height: 700px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search-section {
	margin:10px;
}
.search-section select{
	width:100px;
	height: 30px;
}
.search-section input{
	width:150px;
	height: 25px;
}
.search-section button{
	width:70px;
	height:30px;
}


h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
    
}
.title {
    display: flex; /* Flexbox로 설정 */
    justify-content: space-between; /* 요소들을 양 끝으로 배치 */
    align-items: center; /* 세로축 가운데 정렬 */
}


.student-list table {
    width: 100%;
    border-collapse: collapse;
}

.student-list th, .student-list td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.student-list th {
    background-color:  #f2f2f2;
}

.student-list tr:hover {
    background-color: #f1f1f1;
}

.student-list td {
    text-align: center;
    color: #333;
}

.student-list input[type="number"] {
    width: 60px;
    padding: 5px;
}

.student-list select {
    padding: 5px;
}

