*.dll
*.exe
*.o
*.so
*.com
*.class
*.log
logs/
*.xlsx
*.xls
*.pdf
*.docs
*.ppt
*.pptx
.Trashes
.Thumbs.db
.ehthumbs.db
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
.classpath
.factorypath
.buildpath
target/
.springBeans
.recommenders/
.geninfo
nexa_A/$Geninfo$.geninfo
