<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ateam.mapper.AdminMapper">

	<select id = "selectCodeMst" parameterType="hashMap" resultType="hashMap">
	
	SELECT CODE
	, CODE_NM
	FROM CMMN_CD_MST_GJM
	WHERE 1=1
	<choose>
		<when test="SEARCH_TYPE == 'ALL'">
		AND CODE LIKE CONCAT('%', '${SEARCH_WORD}', '%')
		OR CODE_NM LIKE CONCAT('%', '${SEARCH_WORD}', '%')
		</when>
		<otherwise>
		AND ${SEARCH_TYPE} LIKE CONCAT('%', '${SEARCH_WORD}', '%')
		</otherwise>
	</choose>

	</select>
	
	<select id="selectLogin" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT CASE WHEN COUNT(0) THEN 'Y'
		ELSE 'N'
		END as LoginCheck, email
		FROM ADMIN
		WHERE ADMIN_ID = #{Id}
		and password = #{Password}
		
	</select>
	
	<select id = "selectBoardList" parameterType="hashMap" resultType="hashMap">
	
		SELECT B.BOARD_CODE as BOARD_CODE, B.TITLE as TITLE, B.BOARD_DATE as BOARD_DATE, A.ADMIN_CODE, A.NAME AS NAME 
		FROM BOARD B
			INNER JOIN ADMIN A
			ON B.ADMIN_CODE = A.ADMIN_CODE
		WHERE 1=1
	<if test="SEARCH_WORD != null">
        <if test="SEARCH_TYPE == 'ALL'">
        AND (
            BOARD_CODE LIKE CONCAT('%', #{SEARCH_WORD}, '%')
            OR TITLE LIKE CONCAT('%', #{SEARCH_WORD}, '%')
            OR BOARD_DATE LIKE CONCAT('%', #{SEARCH_WORD}, '%')
            OR NAME LIKE CONCAT('%', #{SEARCH_WORD}, '%')
        )
        </if>
        <if test="SEARCH_TYPE == 'BOARD_CODE'">
        AND BOARD_CODE LIKE CONCAT('%', #{SEARCH_WORD}, '%')
        </if>
        <if test="SEARCH_TYPE == 'TITLE'">
        AND TITLE LIKE CONCAT('%', #{SEARCH_WORD}, '%')
        </if>
        <if test="SEARCH_TYPE == 'NAME'">
        AND NAME LIKE CONCAT('%', #{SEARCH_WORD}, '%')
        </if>
        <if test="SEARCH_TYPE == 'BOARD_DATE'">
        AND BOARD_DATE LIKE CONCAT('%', #{SEARCH_WORD}, '%')    
        </if>
    </if>
	</select>
</mapper>