<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ateam.mapper.AdminMapper">

	<select id = "selectCodeMst" parameterType="hashMap" resultType="hashMap">
	SELECT CODE
	, CODE_NM
	FROM CMMN_CD_MST_GJM
	WHERE 1=1
	<choose>
		<when test="SEARCH_TYPE == 'ALL'">
		AND CODE LIKE CONCAT('%', '${SEARCH_WORD}', '%')
		OR CODE_NM LIKE CONCAT('%', '${SEARCH_WORD}', '%')
		</when>
		<otherwise>
		AND ${SEARCH_TYPE} LIKE CONCAT('%', '${SEARCH_WORD}', '%')
		</otherwise>
	</choose>

	</select>
	
	<select id="selectLogin" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT CASE WHEN COUNT(0) THEN 'Y'
		ELSE 'N'
		END as LoginCheck, email, ADMIN_CODE, NAME
		FROM ADMIN
		WHERE ADMIN_CODE = #{Id}
		and PASSWORD = SHA2(#{Password}, 256)
		
	</select>
	
		<!-- 폼 로드시 dept grd에 목록생성 -->
	<select id="selectAdDept" resultType="java.util.Map">
		SELECT DEPARTMENT_CODE, DEPARTMENT_NAME
		FROM DEPARTMENT
	</select>
	
	
</mapper>