<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ateam.mapper.AdStudentStatusMapper">
	
	<select id="statusApprovedList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			SS.STATUS_CODE, SS.REG_DTM, SS.STUDENT_ID, S.NAME, SS.STATUS_TYPE, SS.APPROVED
		
		FROM STUDENT_STATUS SS
			JOIN STUDENT S ON SS.STUDENT_ID = S.STUDENT_ID
		
		WHERE 1=1
			<if test="DEPARTMENT_CODE != ALL">
				AND S.DEPARTMENT_CODE = #{DEPARTMENT_CODE}
			</if>
			<if test="SEARCH_WORD != null and SEARCH_TYPE != ''">
				 <if test="SEARCH_TYPE == 'ALL'">
					 AND SS.STUDENT_ID LIKE CONCAT('%', #{SEARCH_WORD},'%')
					 	OR S.NAME LIKE CONCAT('%', #{SEARCH_WORD},'%')
				 </if>
	  			 <if test="SEARCH_TYPE == 'STUDENT_ID'">
				 	 AND SS.STUDENT_ID LIKE CONCAT('%', #{SEARCH_WORD},'%')
			 	 </if>
				 <if test="SEARCH_TYPE == 'NAME'">
		 			 AND S.NAME LIKE CONCAT('%', #{SEARCH_WORD},'%')
				 </if>
			</if>
	</select >
	
	<select id="statusDetail" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT SS.STUDENT_ID ,S.NAME, D.DEPARTMENT_NAME , S.STATUS,
					SS.STATUS_TYPE ,SS.REG_DTM , SS.LEAVE_DATE , SS.RETURN_DATE ,
					SS.REASON, SS.APPROVED, SS.STATUS_CODE
			FROM STUDENT_STATUS SS
				JOIN STUDENT S ON SS.STUDENT_ID = S.STUDENT_ID
				JOIN DEPARTMENT D ON S.DEPARTMENT_CODE = D.DEPARTMENT_CODE
			WHERE SS.STATUS_CODE = #{STATUS_CODE}
	</select>

	<update id="statusApprovedUpdate" parameterType="java.util.Map">
	   	   UPDATE STUDENT_STATUS
	      		SET APPROVED = #{APPROVED},
	 				UPD_DTM = SYSDATE(),
	 				UPD_USR = #{ADMIN_ID}	
	       WHERE STATUS_CODE = #{STATUS_CODE}
	</update>

	<insert id="statusApprovedInsert" parameterType="java.util.Map">
			INSERT INTO STUDENT_STATUS(STUDENT_ID, STATUS_TYPE, LEAVE_DATE,RETURN_DATE,
										REASON, APPROVED, REG_DTM, CRE_DTM, CRE_USR,
										UPD_DTM, UPD_USR)
			VALUES (#{STUDENT_ID}, #{STATUS_TYPE}, #{LEAVE_DATE}, #{RETURN_DATE},
					#{REASON}, #{APPROVED}, #{REG_DTM}, #{CRE_DTM}, #{CRE_USR},
					#{UPD_DTM}, #{UPD_USR})
	</insert>
</mapper>