<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
   namespace="ateam.mapper.AdStudentMapper">
   <select id="selectDepartment" resultType="hashMap">
      SELECT DEPARTMENT_CODE, DEPARTMENT_NAME
      FROM DEPARTMENT
   </select>
   
   <select id="selectAdStudent" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT STUDENT_ID,
			NAME,
			UNIV_YEAR,
			PHONE,
			EMAIL,
			DATE_FORMAT(BIRTHDAY, '%Y-%m-%d') AS BIRTHDAY,
			GENDER,
			ADDRESS,
			STATUS,
			DEPARTMENT_CODE,
			0 AS 'Check'
      FROM STUDENT
      WHERE 1=1
      <if test="DEPARTMENT_CODE != 00">
      AND DEPARTMENT_CODE = #{DEPARTMENT_CODE}
      </if>
      
      <if test="SEARCH_WORD != null">
         <if test="SEARCH_TYPE == 'ALL'"> 
            AND (STUDENT_ID LIKE CONCAT('%', #{SEARCH_WORD}, '%')
            OR NAME LIKE CONCAT('%', #{SEARCH_WORD}, '%')
            OR STATUS LIKE CONCAT('%', #{SEARCH_WORD}, '%')
            OR PHONE LIKE CONCAT('%', #{SEARCH_WORD}, '%')
            OR EMAIL LIKE CONCAT('%', #{SEARCH_WORD}, '%'))
         </if>
         <if test="SEARCH_TYPE == 'Student_id'">
            AND STUDENT_ID LIKE CONCAT('%', #{SEARCH_WORD}, '%')
         </if>
         <if test="SEARCH_TYPE == 'Name'">
            AND NAME LIKE CONCAT('%', #{SEARCH_WORD}, '%')
         </if>
         <if test="SEARCH_TYPE == 'Status'">
            AND STATUS LIKE CONCAT('%', #{SEARCH_WORD}, '%')
         </if>
         <if test="SEARCH_TYPE == 'Phone'">
            AND PHONE LIKE CONCAT('%', #{SEARCH_WORD}, '%')
         </if>
         <if test="SEARCH_TYPE == 'Email'">
            AND EMAIL LIKE CONCAT('%', #{SEARCH_WORD}, '%')
         </if>
      </if>
      
   </select>
   
   <select id="studCheckId" parameterType="java.util.Map" resultType="java.util.Map">
      SELECT CASE WHEN COUNT(0) THEN 'N'
		ELSE 'Y'
		END as CHECK_ID
		FROM STUDENT
		WHERE 1=1
		AND STUDENT_ID = #{STUDENT_ID}
   
   </select>
   
   <select id="checkAdStudent" parameterType="java.util.Map" resultType="Integer">
      SELECT COUNT(1)
      FROM STUDENT
      WHERE STUDENT_ID = #{STUDENT_ID}
   </select>
   
   
   <insert id="insertAdStudent" parameterType="java.util.Map">
      INSERT INTO STUDENT (STUDENT_ID,
               PASSWORD,
               NAME,
               UNIV_YEAR,
               PHONE,
               EMAIL,
               BIRTHDAY,
               GENDER,
               ADDRESS,
               STATUS,
               DEPARTMENT_CODE,
               PHOTO,
               CRE_DTM,
               CRE_USR,
               ZIPCODE)
               VALUES (#{STUDENT_ID},
                     SHA2(#{PASSWORD}, 256),
                     #{NAME},
                     #{UNIV_YEAR},
                     #{PHONE},
                     #{EMAIL},
                     #{BIRTHDAY},
                     #{GENDER},
                     #{ADDRESS},
                     #{STATUS},
                     #{DEPARTMENT_CODE},
                     #{PHOTO},
                     NOW(),
                     #{ADMIN_CODE},
                     #{ZIPCODE})
   
   </insert>
   
   <update id="updateAdStudent" parameterType="java.util.Map">
      update STUDENT set
               PASSWORD = SHA2(#{PASSWORD}, 256),
               NAME = #{NAME},
               UNIV_YEAR = #{UNIV_YEAR},
               PHONE = #{PHONE},
               EMAIL = #{EMAIL},
               BIRTHDAY = #{BIRTHDAY},
               GENDER = #{GENDER},
               ADDRESS = #{ADDRESS},
               STATUS = #{STATUS},
               DEPARTMENT_CODE = #{DEPARTMENT_CODE},
               PHOTO = #{PHOTO},
               UPD_DTM = NOW(),
               UPD_USR = #{ADMIN_CODE},
               ZIPCODE = #{ZIPCODE}
               where STUDENT_ID = #{STUDENT_ID}
   </update>
   
   <select id="selectAdStudentdtl" parameterType="hashMap" resultType="hashMap">
      SELECT STUDENT_ID,
               PASSWORD,
               NAME,
               UNIV_YEAR,
               PHONE,
               EMAIL,
               DATE_FORMAT(BIRTHDAY, '%Y-%m-%d') AS BIRTHDAY,
               GENDER,
               ADDRESS,
               STATUS,
               DEPARTMENT_CODE,
               PHOTO,
               UPD_USR as ADMIN_CODE,
               UPD_DTM as REGDATE,
               ZIPCODE
      FROM STUDENT
      where 1=1
      and STUDENT_ID = #{STUDENT_ID}
   </select>
   
   <delete id="deletAdStudent" parameterType="java.util.Map">
      DELETE FROM STUDENT
      WHERE STUDENT_ID = #{STUDENT_ID}
   </delete>
   
   <select id="stdchecklogin" resultType="ateam.dto.StudentDTO">
		SELECT STUDENT_ID,
				NAME,
				PHONE,
				EMAIL,
				BIRTHDAY,
				GENDER,
				ADDRESS,
				STATUS,
				DEPARTMENT_CODE,
				PHOTO
		FROM STUDENT
		WHERE STUDENT_ID = #{studentId}
			AND PASSWORD = #{password}
	</select>
</mapper>